<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Help</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
   <h1>Need Help?</h1>
<div class="subtitle">
    <p>If you're facing any issues, don't worry.</p>
    <p>We're here to assist you with login, navigation, or technical difficulties.</p>
    <p>You can reach us at <strong>support@myapp.com</strong> or call <strong>+91-00000-00000</strong></p>
    <br>    </br>
  
  <h3>  <a href="/" style="color: rgb(29, 150, 10);">← Back to Home</a> </h3>
  </div>

</body>
</html>